.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImg {
  height: 200px;
  width: 100%; /* Asegura que ocupe el ancho del contenedor */
  max-width: 300px; /* Ajusta este valor según sea necesario */
  object-fit: contain; /* Evita que la imagen se estire */
  display: block;
  margin: 0 auto; /* Centra la imagen */
}
